---
layout: index
---
<div class="column-container">
{% for collection in site.collections %}
  <div class="column">
    <p align="left">
        <a href="{{ collection.url | prepend: site.baseurl }}.html">
            <img src="{{ site.baseurl }}assets/img/{{ collection.image }}">
            {{ collection.title }}
        </a>
    </p>
  </div>
{% endfor %}
</div>